*
{
    /* background-image: url(./Green\ Grass.jpg); */
    background-attachment: fixed;
}
  #zoom 
{

    width: 500px;
    height: 500px;
   
    border:solid 3px red;
    /* background-image: url(./Green\ Grass.jpg); */
    overflow: hidden;
    /* position: fixed; */
    margin: 0 auto;
    /* background-size: cover; */
}
button{
    width: 150px;
    height: 35px;
    margin-left: 1350px;
    margin-top: 30px;
    font-size: larger;
    font-weight: bold;
    background: rgb(14, 236, 51);
    border-radius: 8px;
}
button:hover{
    color: rgb(10, 14, 247);
    border: solid 6px violet;
}
#zoom {
    /* background-attachment: fixed; */
    border: solid 5px fuchsia;
    /* outline: auto; */
    /* border-image-outset: 0px; */
    /* justify-items: initial; */
    border-radius: 50%;
    
    /* transform: scale(1); */
    /* transition: 0.3s ease-in-out; */
    /* background-attachment: fixed; */
}
#zoom img{
    width:inherit;
    height: inherit;
    
}
#zoom img:hover{
    transform: scale(1.5);
    transition: 0.2s;
    /* backdrop-filter: blur(6px); */
    /* filter: blur(6px); */
    /* -webkit-backdrop-filter: blur(6px); */
    /* opacity: 0.5 ; */
    /* opacity: -1; */
    /* transition: 0.5s ; */
    /* background-size: cover; */

    /* background-attachment: fixed */
    /* scale: left; */
    /* box-sizing: border-box;
     */

    /* overflow-block: none; */
    /* transform: rotateZ(90deg); */
    /* box-sizing: initial; */
    /* transform: scale(360deg); */
    /* transform: rotate(120deg); */
    /* transform: rotateX(180deg); */
    /* transform: rotateY(180deg); */
    /* transform: rotateZ(260deg); */
    /* transform: rotate3d(120deg); */
    /* border-image-outset: none; */
}